:root {
    --custom-black: #0d060d;
    --custom-gray: #383838;
}

body {
    background-color: var(--custom-black);
    margin: 0;
}

ul {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    /* width: 100%; */
    background-color: var(--custom-gray);
    /* border: 1px solid white; */
    overflow: hidden;
}

ul > * {
    display: inline;
    /* text-align: center; */
    /* display: inline; */
    float: left;
}

li {
    display: inline;
    border: 1px solid pink;
}

#small-logo {
    /* display: inline-block; */
    width: 10%;
    border: 1px solid white;
}

li a {
    color: white;
    text-align: center;
    display: block;
    width: 100%;
    text-decoration: none;
    padding: 1em 3.38em;
}

a {
    text-align: center;
    /* padding: 30px 90px; */
    background-color: var(--custom-gray);
}

#about {
    background-color: orange;
}

li p:hover {
    background-color: orange;
    color: white;
}

section {
    border: 1px solid white;
    height: 20em;
    margin-top: 4em;
    /* display: block;
    top: 50%;
    left: 50%; */
}

section > p {
    color: white;
    text-align: center;
}

#about-text {
    /* border: 1px solid white; */
    font-weight: bold;
    font-size: larger;
}