:root {
    --custom-black: #0d060d;
    --custom-gray:#383838;
}

body {
    background-color: var(--custom-black);
    margin: 0;
}

nav {
    margin: 0;
    padding: 0;
    height: 3em;
    /* border: 3px solid brown; */
}

ul {
    background-color: var(--custom-gray);
    margin: 0;
    padding: 0;
    /* border: 2px solid pink; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    align-content: space-between;
    height: 100%;
    overflow: hidden;
}

#small-logo {
    height: 2.7em;
    width: 100%;
    margin: auto;
    display: block;
}

div {
    /* border: 4px solid yellow; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    list-style-type: none;
    align-content: space-between;
    width: 100%;
}

li {
    /* border: 1px solid red; */
    /* padding: 1em 4.5em; */
    padding: 0;
    /* margin-left: 1em; */
}

#li-img {
    padding: 0;
    margin-left: .5em;
}

 #login {
    background-color: orange;
}

li > a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 2em 2em;
}

li a:hover {
    background-color: orange;
    color: white;
}

section {
    /* border: 1px solid white; */
    color: white;
}

#main-logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 45%;
    /* border: 1px solid red; */
}

#incorrect-login-details {
    font-size: small;
    color: red;
    padding: 0;
}

form {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 7.5em;
    /* border: 1px solid white; */
}

form > * {
    display: block;
    margin: 1% auto 1% auto; 
}

section > p {
    display: block;
    margin: auto;
    padding: 1.5em 0em;
    text-align: center;
    width: 50%; 
}

#register-link {
    display: inline;
    color: blue;
    text-decoration: underline;
}

#register-link:hover {
    color: white;
    text-decoration: underline;
    cursor: pointer;
}

input[type=submit] {
    background: #F25814;
    background-image: (top, #F25814, #FAB25A);
    background-image: -webkit-linear-gradient(top, #F25814, #FAB25A);
    background-image: -moz-linear-gradient(top, #F25814, #FAB25A);
    background-image: -ms-linear-gradient(top, #F25814, #FAB25A);
    background-image: -o-linear-gradient(top, #F25814, #FAB25A);
    background-image: -webkit-gradient(to bottom, #F25814, #FAB25A);
    border: none;
    border-radius: 20px;
    color: #FFFFFF;
    padding: 1em 2em;
    box-shadow: 1px 1px 20px 0 #000000;
    text-shadow: 1px 1px 20px #000000;
    display: block;
    cursor: pointer;
    text-align: center;
}

input[type=submit]:hover {
    background: #FAB25A;
    background-image: (top, #FAB25A, #F25814);
    background-image: -webkit-linear-gradient(top, #FAB25A, #F25814);
    background-image: -moz-linear-gradient(top, #FAB25A, #F25814);
    background-image: -ms-linear-gradient(top, #FAB25A, #F25814);
    background-image: -o-linear-gradient(top, #FAB25A, #F25814);
    background-image: -webkit-gradient(to bottom, #FAB25A, #F25814);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
}

form + p {
    padding: 1em;
} 

